body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 10rem;
  height: 5rem;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  background-color: pink;
  border-color: blue;
  border-radius: 2rem;
}